  <% @scripts.each do |script| %>
      <tr>
        <td><%= User.find(script.user_id).name %></td>
        <td><%= script.details %></td>
        <td><%= script.expiration %></td>
        <td><%= script.doctor %></td>
        <td><%= link_to 'Show', script %></td>
        <% if current_user.has_role? :admin %>
        <td><%= link_to 'Edit', edit_script_path(script) %></td>
        <td><%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
 